.primaryButton {
    font-family: "Sulphur Point", sans-serif;
    font-size: 1.1rem;
    color: #6dd6f4;
    border: 1px solid rgb(92, 0, 91);
    width: 16rem;
    height: 3rem;
    margin-top: 14px;
}