.main-head-box {
    border-radius: 8px;
    border: 1px solid #6dd6f4;
    background-color: rgb(92, 0, 91);
    display: flex;
  }
  
  .mainHead {
    font-size: 5rem;
    color: #6dd6f4;
    margin: 2px 0px 24px 24px;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: underline;
  }